//WILL's styles
#subscribe{
position:relative;
}

#subbtn{
  margin-top:1em;
  position:absolute;
  right:7.5px;
}
#enventure, enventure {
  font-family: $serif;
  font-size:1.1em;
  color:$env-color;
}
#title{
    font-size:1.45em;
}

light{
  color:$b2-color;
}

a {
  color:$env-color;
  &:hover, &:active, &:focus{
    //color:$accent-color;
  }
}

#index-banner {
  position:relative;
  $hero-background-top: rgba(white, 0); 
  $hero-background-bottom: rgba(white, 0.9);
  $gradient-angle: 0deg;
  $hero-image: '../img/possibilities.jpg';

  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  background-color:$env-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: .1em;
  height:400px;
}

#bioventures-banner {
  position:relative;
  $hero-background-top: rgba(white, 0); 
  $hero-background-bottom: rgba(white, 0.9);
  $gradient-angle: 0deg;
  $hero-image: '../img/byob.jpg';

  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  @extend .light-blue, .lighten-4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: .1em;
  height:400px;
}

.env-header{
  position:absolute;
  bottom:0;
  color: #FFF;
  h2{font-size: $h2-fontsize*.8; line-height: 1.1*$h2-fontsize*.8; margin: .25rem 0 .7rem 0; }
  h4 {font-size: $h4-fontsize*.8; line-height: 1.1*$h4-fontsize*.8; margin: .25rem 0 .7rem 0; letter-spacing: .05rem; color:$b2-color}
}

#about{
  float:right;
  background:none;
  border:white;
  text-transform:none;
}

.mission {
    .bullets {
      //$icon-bullet-size: 3.5em;
      margin-bottom: 1.5em;

      .bullet-icon {
        @extend .btn-floating;
        float:left;
      }

      .bullet-icon-1 {
        $bullet-color:color("purple");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-2 {
        $bullet-color:color("pink");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-3 {
        $bullet-color:color("indigo");
        background-color: $bullet-color;

        &:hover, &:active, &:focus {
          background-color: lighten($bullet-color,5%);
        }
      }

      .bullet-content {
      margin-left: $icon-size *1.4;
      margin-bottom: 2em;
      }

      h3 {
      //font-size: $icon-size /2.5;
      padding-top: $icon-size /7;
      margin-bottom: $icon-size /6;
      border-bottom: 1px solid $b3-color;
      display: inline-block;
      }
    }
  }
  .modal{
    position:absolute;
    top:500;
  }