//NOTE: inport custom variables immediately after materialize variables
//NOTE: get rid of roboto from materialize
//NOTE: materialize.js is a compiled version of all the separate *.js files, can slim it down. init.js initializes all of them, or you can do it individually


//nav
nav{
  //background-color:$w3-color;
  @extend .z-depth-1;
}

//_global
blockquote {
  border-left: 5px solid $env-color;
}

#social{
  position:absolute;
  bottom:1rem;
  a{
    display:inline-block;
    object{
      height:32px;
      display:inline-block;
      @include transition(.25s ease);
      &:hover{
      @extend .z-depth-4;
    }
    }
    
  }
  &:hover, &.active {
    background-color: white;
  }
}

//_typography
html{ 
  @media only screen and (min-width: 0) {
    font-size: 16px;
  }
  
  @media only screen and (min-width: $medium-screen) {
    font-size: 18px;
  }
  
  @media only screen and (min-width: $large-screen) {
    font-size: 19px;
  }
  
  font-family: $sans-serif;
  font-weight: $nl-weight;
  color: $off-black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 300;
}

<<<<<<< HEAD
.thin {font-weight: 300}
.medium {font-weight: 500}
.heavy {font-weight: 700}
.light{color:$b2-color}

.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.0075 * $i));
    }
    @media only screen and (min-width : 0 + ($i * $interval-size)) {
      line-height: .8rem * (1 + (.05 * $i));
    }
    $i: $i + 1;
  }
=======
h1{
  @extend .light;
  @extend .heavy;
>>>>>>> origin/Sarah
}


//_cards
.card {
  $card-height:18rem;
  height: $card-height;
  color: $font-color;

  .card-title{
    color: $b2-color;
    font-weight:900;
  }

  h1 {
    font-size: 1.71rem;
    line-height:1.5;
  }
  h2 {
    font-size: 1.14rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
    display: block;
  }
  a {
    color: $card-link-color;
    &:hover { color: $card-link-hover; }
    padding-top:10px;
  }

  .card-content{
    p {
      margin: .8em 0 1em 0;
    }
  }
//make them 780px wide
  .card-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:$card-height*.4472;

    &.dialog{//enventure
      $hero-background-top: rgba($env-color, .6); 
      $hero-background-bottom: rgba($env-color, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/billy-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.foundations{//wisteria
      $hero-background-top: rgba($wisteria, .6); 
      $hero-background-bottom: rgba($wisteria, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/byob-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.meetups{
      $hero-background-top: rgba($pumpkin, .6); 
      $hero-background-bottom: rgba($pumpkin, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/morning-meetup-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.bioventures{//indigo
      $hero-background-top: rgba($indigo, .6); 
      $hero-background-bottom: rgba($indigo, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/possibilities-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.mgmt{//radish
      $hero-background-top: rgba($radish, .6); 
      $hero-background-bottom: rgba($radish, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/jack-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.blank{
      background-image: url(../img/byob-trans-24.png);
      @extend .blue-grey, .lighten-3;
    }
  }
  
  .card-reveal{
    width:100%;
  }

  .card-action {
    border-top: none;
    padding: 0;
  }
}


//@media #{$large-and-down} {
  header, main, footer {
    padding-left: 0;
  }
//}

//_form
.input-field label{
  top: .6rem;
  font-size: 1.25rem;
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=tel], input[type=number], textarea.materialize-textarea {
  font-size: 1.25rem;
}
form.subscribe{
  padding-top:1em
}
.input-field {
  .prefix.active{
    color:$env-color;
  }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=date]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=search]:focus,
  textarea:focus.materialize-textarea {
    border-bottom: 1px solid color("light-blue", "lighten-3");
    @include box-shadow(0 1px 0 0 $env-color);
  }
  input[type=text]:focus + label,
  input[type=password]:focus + label,
  input[type=email]:focus + label,
  input[type=url]:focus + label,
  input[type=date]:focus + label,
  input[type=tel]:focus + label,
  input[type=number]:focus + label,
  input[type=search]:focus + label,
  textarea:focus.materialize-textarea + label {
    color: $env-color;
  }
}


//_buttons
.btn{
  transition: all cubic-bezier(.62,.28,.23,.99) 0.2s;
  background-color: color("light-blue","base");
  &:hover {
    background-color: lighten(color("light-blue", "base"), 5%);
  }
}

.btn-floating{
  transition: all cubic-bezier(.62,.28,.23,.99) 0.3s;
  background-color:$accent-color;
  &:hover {
    background-color: lighten($accent-color, 5%);
  }
}

a.btn{
  &:hover, &:active, &:focus {
    color: white;
  }
}

.footer-copyright{
  object{height:32px}
}

.frosted{
  background:none;
  border:white;
  text-transform:none;
  &:hover {
    background-color: $w4-color;
  }
}

#about{
  float:right;
}

#hamburger{
  float:left;
}

a.button-collapse.top-nav{
  position: relative;
  left: 0;
  margin-left: 0;
  margin-top: 1rem;
  display:none;
  @media #{$large-and-down} {
    display:inherit;
  }
}


#download-button {
  background-color: color("light-blue", "lighten-3");
  &:hover {
    background-color: lighten(color("light-blue", "base"), 30%);
  }
}

#subscribe{
  position:relative;
  margin-bottom:0;
}

#subbtn{
  position:absolute;
  right:7.5px;
}

//WILL's styles
#enventure, enventure {
  font-family: $serif;
  font-size:1.1em;
  color:$env-color;
  font-weight:300;
}

.env-color{
  color:$env-color;
}

#title{
  font-size:1.45em;
}

.thin, thin {font-weight: 300}
.medium, medium {font-weight: 500}
.heavy, heavy {font-weight: 700}
.light, light {color:$b2-color}

accent{
  color:$accent-color;
}

.event{
  h3{
    margin-top:.2rem;
    margin-bottom:.5rem
  }
  h5{
    margin-top :0
  }
  .card-panel{
    transition: all cubic-bezier(.62,.28,.23,.99) 0.3s;
    &:hover{
      @extend .z-depth-2;
    }
    .frosted{
      background-color:rgba(255, 255, 255, 0.15);
      box-shadow:none;
      &:hover{
        background-color:rgba(255, 255, 255, 0.25);
      }
    }
    h5{
      margin-top:.2rem
    }
  }
}

a {
  color:$env-color;
  &:hover, &:active, &:focus{
    color:$accent-color;
  }
  font-weight:500;
  &.white-link{
    color:$w1-color;
    &:hover, &:active, &:focus{
      color:$accent-color;
    }
  }
}

#index-banner {
  .container {
    position: static;
  }
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: .1em;
  height:400px;
  background-color:$env-color;
  h4 {
    margin-bottom: 0;
  }
}
.index-banner{
  $gradient-angle: 0deg;
  $hero-background-top: rgba($env-color, .25); 
  $hero-background-bottom: rgba(white, 0.9);
  $hero-image: '../img/sky.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  background-position: center, center;
}

.bioventures-banner{
  $gradient-angle: 0deg;
  $hero-background-top: rgba($indigo, .33); 
  $hero-background-bottom: rgba(white, .9);
  $hero-image: '../img/possibilities-web.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  background-position: center, center;
}

.foundations-banner{
  $gradient-angle: 0deg;
  $hero-background-top: rgba($wisteria, .33);
  $hero-background-bottom: rgba(white, .9);
  $hero-image: '../img/foundations.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  background-position: center, center;
}

.env-header{
  position:absolute;
  padding-right: 1.5rem;
  bottom:0;
  color: #FFF;
  h2{font-size: $h2-fontsize*.8; line-height: 1.1*$h2-fontsize*.8; margin: 0 0 ($h2-fontsize*.8 / 2.5) 0;}
  h4 {
    font-size: 1.66rem; line-height: 1.1*1.66rem; margin: (1.66rem / 2) 0 (1.66rem / 2.5) 0; letter-spacing: .05rem;
    @media #{$smallest-and-down}{
      display:none;
    }
  }
  light.hide-me{
    @media #{$smallest-and-down}{
      display:none;
    }
  }
}

.mission {
    .bullets {
      //$icon-bullet-size: 3.5em;
      margin-bottom: 1.5em;

      .bullet-icon {
        @extend .btn, .btn-floating, .btn-large;
        float:left;
      }

      .bullet-icon-1 {
        $bullet-color:color("purple", "base");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-2 {
        $bullet-color:color("pink", "base");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-3 {
        $bullet-color:color("indigo", "base");
        background-color: $bullet-color;

        &:hover, &:active, &:focus {
          background-color: lighten($bullet-color,5%);
        }
      }

      .bullet-content {
      margin-left: $icon-size *1.4;
      margin-bottom: 2em;
      }

      h4 {
      //font-size: $icon-size /2.5;
      //padding-top: $icon-size /7;
      margin-top: 0;
      margin-bottom: $icon-size /6;
      //border-bottom: 1px solid $b3-color;
      display: inline-block;
      color:$b2-color;
      }
    }
  }
  .modal{
    position:absolute;
    top:500;
  }

footer {
  background-color: color("light-blue", "lighten-4");
}

footer .footer-copyright {
  background-color: $env-color;
}

nav {
  ul li:hover, ul li.active {
    background-color: color("light-blue", "lighten-3");
  }
}

.header {
  color: color("light-blue", "lighten-2");
}

ul.side-nav .collapsible-body li.active {
  background-color: color("light-blue", "lighten-3");
}

.promo{
  i {
    color: color("light-blue", "lighten-3");
  }
}

#front-page-nav {
  a {
      color: color("light-blue", "lighten-3");
    }
  li {
    &:hover {
      background-color: color("light-blue", "lighten-5");
    }
    &.active {
      background-color: color("light-blue", "lighten-5");
    }
  }
}

ul li.bullet{
  list-style-type: initial;
}

ul.table-of-contents a {
  color: $b2-color;
  &:hover{
    color: $b3-color;
    border-left: 1px solid $accent-color;
  }
}

//animation
//transition: all cubic-bezier(.62,.28,.23,.99) 0.7s;