//NOTE: inport custom variables immediately after materialize variables
//NOTE: get rid of roboto from materialize
//nav
nav{
  //background-color:$w3-color;
  @extend .z-depth-1;
}

//_global
blockquote {
  border-left: 5px solid $env-color;
}

#social{
  position:absolute;
  bottom:1rem;
  a{
    display:inline-block;
    object{
      height:32px;
      display:inline-block;
      @include transition(.25s ease);
      &:hover{
      @extend .z-depth-4;
    }
    }
    
  }
  &:hover, &.active {
    background-color: white;
  }
}

//_typography
html{ 
  @media only screen and (min-width: 0) {
    font-size: 16px;
  }
  
  @media only screen and (min-width: $medium-screen) {
    font-size: 18px;
  }
  
  @media only screen and (min-width: $large-screen) {
    font-size: 19px;
  }
  
  font-family: $sans-serif;
  font-weight: $nl-weight;
  color: $off-black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 300;
}

.light { font-weight: 300; }

.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.0075 * $i));
    }
    @media only screen and (min-width : 0 + ($i * $interval-size)) {
      line-height: .8rem * (1 + (.05 * $i));
    }
    $i: $i + 1;
  }
}

//_cards
.card {
  $card-height:18rem;
  height: $card-height;
  color: $font-color;

  .card-title{
    color: $b2-color;
    font-weight:900;
  }

  h1 {
    font-size: 1.71rem;
    line-height:1.5;
  }
  h2 {
    font-size: 1.14rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
    display: block;
  }
  a {
    color: $card-link-color;
    &:hover { color: $card-link-hover; }
    padding-top:10px;
  }

  .card-content{
    p {
      margin: .8em 0 1em 0;
    }
  }
//make them 780px wide
  .card-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:$card-height*.4472;
    &.dialog{
      $hero-background-top: rgba($env-color, .6); 
      $hero-background-bottom: rgba($env-color, .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/billy-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.foundations{
      $hero-background-top: rgba(color('deep-purple','lighten-3'), .6); 
      $hero-background-bottom: rgba(color('deep-purple','lighten-3'), .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/byob-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.meetups{
      $hero-background-top: rgba(color('red','lighten-2'), .6); 
      $hero-background-bottom: rgba(color('red','lighten-2'), .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/morning-meetup-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.bioventures{
      $hero-background-top: rgba(color('deep-orange','darken-1'), .6); 
      $hero-background-bottom: rgba(color('deep-orange','darken-1'), .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/possibilities-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.mgmt{
      $hero-background-top: rgba(color('pink','darken-3'), .6); 
      $hero-background-bottom: rgba(color('pink','darken-3'), .4);
      $gradient-angle: 0deg;
      $hero-image: '../img/jack-sm.jpg';
      @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-bottom, $hero-background-top), url($hero-image));
    }
    &.blank{
      background-image: url(../img/byob-trans-24.png);
      @extend .blue-grey, .lighten-3;
    }
  }
  // .card-footer{
  //   padding: 2px 1rem 8px 1rem;
  // }
  .card-reveal{
    width:100%;
  }

  .card-action {
    border-top: none;
    padding: 0;
  }
}

//_sidenav
@media #{$large-and-down} {
  ul.side-nav.fixed {
    left: -1 * ($sidenav-width + 10);

    &.right-aligned {
      right: -1 * ($sidenav-width + 10);
      left: auto;
    }
  }
}

//@media #{$large-and-down} {
  header, main, footer {
    padding-left: 0;
  }
//}

//_form
.input-field label{
  top: .6rem;
  font-size: 1.25rem;
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=tel], input[type=number], textarea.materialize-textarea {
  font-size: 1.25rem;
}

//_buttons
.btn-floating{
  background-color:$accent-color;
  &:hover {
    background-color: lighten($accent-color, 5%);
  }
}

a.btn{
  &:hover, &:active, &:focus {
    color: white;
  }
}

.footer-copyright{
  object{height:32px}
}

.frosted{
  background:none;
  border:white;
  text-transform:none;
  &:hover {
    background-color: $w4-color;
  }
}

#about{
  float:right;
}

#hamburger{
  float:left;
}

a.button-collapse.top-nav{
  position: relative;
  left: 0;
  margin-left: 0;
  margin-top: 1rem;
  display:none;
  @media #{$large-and-down} {
    display:inherit;
  }
}


#download-button {
  background-color: color("light-blue", "lighten-3");
  &:hover {
    background-color: lighten(color("light-blue", "base"), 30%);
  }
}

#subscribe{
  position:relative;
}

#subbtn{
  margin-top:1em;
  position:absolute;
  right:7.5px;
}

//WILL's styles
#enventure, enventure {
  font-family: $serif;
  font-size:1.1em;
  color:$env-color;
  font-weight:300;
}

#title{
  font-size:1.45em;
}

light{
  color:$b2-color;
}
accent{
  color:$accent-color;
}

a {
  color:$env-color;
  &:hover, &:active, &:focus{
    color:$accent-color;
  }
  font-weight:500;
  &.white-link{
    color:$w1-color;
    &:hover, &:active, &:focus{
      color:$accent-color;
    }
  }
}

// .container{
//   width:100%;
// }

#index-banner {
  .container {
    position: static;
  }
  position:relative;
  $hero-background-top: rgba(white, 0); 
  $hero-background-bottom: rgba(white, 0.9);
  $gradient-angle: 0deg;
  $hero-image: '../img/2015.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  background-color:$env-color;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: .1em;
  height:400px;

  h4 {
    margin-bottom: 0;
  }
}

#bioventures-banner {
  position:relative;
  $hero-background-top: rgba(white, 0); 
  $hero-background-bottom: rgba(white, 0.9);
  $gradient-angle: 0deg;
  $hero-image: '../img/byob.jpg';
  @include background-image(linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top, $hero-background-top), url($hero-image));
  @extend .light-blue, .lighten-4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: .1em;
  height:400px;
}

.env-header{
  position:absolute;
  padding-right: 1.5rem;
  bottom:0;
  color: #FFF;
  h2{font-size: $h2-fontsize*.8; line-height: 1.1*$h2-fontsize*.8; margin: 0 0 ($h2-fontsize*.8 / 2.5) 0;}
  h4 {
    font-size: 1.66rem; line-height: 1.1*1.66rem; margin: (1.66rem / 2) 0 (1.66rem / 2.5) 0; letter-spacing: .05rem;
    @media #{$smallest-and-down}{
      display:none;
    }
  }
  light{
    @media #{$smallest-and-down}{
      display:none;
    }
  }
}

.mission {
    .bullets {
      //$icon-bullet-size: 3.5em;
      margin-bottom: 1.5em;

      .bullet-icon {
        @extend .btn, .btn-floating, .btn-large;
        float:left;
      }

      .bullet-icon-1 {
        $bullet-color:color("purple", "base");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-2 {
        $bullet-color:color("pink", "base");
        background-color: darken($bullet-color, 5%);

        &:hover, &:active, &:focus {
          background-color: $bullet-color;
        }
      }

      .bullet-icon-3 {
        $bullet-color:color("indigo", "base");
        background-color: $bullet-color;

        &:hover, &:active, &:focus {
          background-color: lighten($bullet-color,5%);
        }
      }

      .bullet-content {
      margin-left: $icon-size *1.4;
      margin-bottom: 2em;
      }

      h4 {
      //font-size: $icon-size /2.5;
      //padding-top: $icon-size /7;
      margin-top: 0;
      margin-bottom: $icon-size /6;
      //border-bottom: 1px solid $b3-color;
      display: inline-block;
      color:$b2-color;
      }
    }
  }
  .modal{
    position:absolute;
    top:500;
  }

footer {
  background-color: color("light-blue", "lighten-3");
}

footer .footer-copyright {
  background-color: $env-color;
}

nav {
  ul li:hover, ul li.active {
    background-color: color("light-blue", "lighten-3");
  }
}

.header {
  color: color("light-blue", "lighten-3");
}

ul.side-nav .collapsible-body li.active {
  background-color: color("light-blue", "lighten-3");
}

.promo{
  i {
    color: color("light-blue", "lighten-3");
  }
}

#front-page-nav {
  a {
      color: color("light-blue", "lighten-3");
    }
  li {
    &:hover {
      background-color: color("light-blue", "lighten-5");
    }
    &.active {
      background-color: color("light-blue", "lighten-5");
    }
  }
}

// Transifex Styling

#tx-live-lang-container {
  #tx-live-lang-picker {
    li {
      &:hover{
      background-color: color("light-blue", "lighten-5");
      }
    }
  }

  .txlive-langselector-toggle {
    border-bottom: 2px solid color("light-blue", "lighten-3");
  }
}
